.header__lang-item {
  display: flex;
  margin: 0;
  padding: 0 18px 0 0;
}

.header__lang-item:last-of-type {
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-item {
    padding: 0 22px 0 0;
  }
}
