.photo-grid {
  width: 100%;
  margin: 0;
  padding: 0 48px 92px 48px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(auto-fit, 284px);
  grid-auto-rows: auto;
  gap: 16px 16px;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
    grid-template: repeat(3, 1fr) / repeat(auto-fit, 300px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    gap: 16px;
    grid-template: repeat(3, 1fr) / repeat(auto-fit, 352px);
    padding: 0 24px 88px 24px;
  }
}
