.header {
  width: 100%;
  padding: 28px 48px 56px 48px;
  display: grid;
  grid-template: auto / 1fr repeat(2, 30px);
  gap: 18px;
  align-items: end;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 48px 48px 48px;
  }

}
